<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="Flight2"
        class="Flight2"
    >
        <label
            magic="SelectFlightL"
            class="SelectFlightL"
        >
            Select Flight -
            </label>
            <label
                magic="OriginL"
                class="OriginL"
            >
                Origin:
                </label>
                <input
                    type="text"
                    formControlName="fromairportEdit"
                    magic="fromairportEdit"
                    class="fromairportEdit"
                />
                <input
                    type="text"
                    formControlName="airportNameFrom"
                    magic="airportNameFrom"
                    class="airportNameFrom"
                />
                <label
                    magic="DestinationL"
                    class="DestinationL"
                >
                    Destination:
                    </label>
                    <input
                        type="text"
                        formControlName="toAirportEdit"
                        magic="toAirportEdit"
                        class="toAirportEdit"
                    />
                    <input
                        type="text"
                        formControlName="airportNameTo"
                        magic="airportNameTo"
                        class="airportNameTo"
                    />
                    <label
                        magic="DepartureL"
                        class="DepartureL"
                    >
                        Departure:
                        </label>
                        <label
                            magic="ArrivalL"
                            class="ArrivalL"
                        >
                            Arrival:
                            </label>
                            <input
                                type="text"
                                formControlName="fromdateEdit"
                                magic="fromdateEdit"
                                class="fromdateEdit"
                            />
                            <input
                                type="text"
                                formControlName="fromdateTimeEdit"
                                magic="fromdateTimeEdit"
                                class="fromdateTimeEdit"
                            />
                            <input
                                type="text"
                                formControlName="todateEdit"
                                magic="todateEdit"
                                class="todateEdit"
                            />
                            <input
                                type="text"
                                formControlName="todateTimeTo"
                                magic="todateTimeTo"
                                class="todateTimeTo"
                            />
                            <select
                                multiple
                                (change)="onselectionchanged($event,'FromAirportList')"
                                value="getSelectedValue('FromAirportList')"
                                magic="FromAirportList"
                                class="FromAirportList"
                                [style.visibility]="getVisible('FromAirportList')"
                            >
                                <option
                                    *ngFor="let o of getListboxValues('FromAirportList');"
                                    [selected]="o.index == getSelectedValue('FromAirportList')"
                                    value="o.index"
                                >
                                    {{o.realString}}
                                    </option>
                                    </select>
                                    <select
                                        multiple
                                        (change)="onselectionchanged($event,'ToAirportList')"
                                        value="getSelectedValue('ToAirportList')"
                                        magic="ToAirportList"
                                        class="ToAirportList"
                                        [style.visibility]="getVisible('ToAirportList')"
                                    >
                                        <option
                                            *ngFor="let o of getListboxValues('ToAirportList');"
                                            [selected]="o.index == getSelectedValue('ToAirportList')"
                                            value="o.index"
                                        >
                                            {{o.realString}}
                                            </option>
                                            </select>
                                            <div
                                                magic="Grp2"
                                                class="Grp2"
                                            >
                                                <label
                                                    magic="LFlight"
                                                    class="LFlight"
                                                >
                                                    Flight:
                                                    </label>
                                                    <input
                                                        type="text"
                                                        formControlName="flightnumberEdit"
                                                        magic="flightnumberEdit"
                                                        class="flightnumberEdit"
                                                    />
                                                    <div *ngIf="isImageExists('classImg')">
                                                        <img
                                                            magic="classImg"
                                                            class="classImg"
                                                            [src]="getImage('classImg')"
                                                        />
                                                    </div>
                                                    <select
                                                        (change)="onselectionchanged($event,'airline')"
                                                        value="getSelectedValue('airline')"
                                                        magic="airline"
                                                        class="airline"
                                                    >
                                                        <option
                                                            *ngFor="let o of getListboxValues('airline');"
                                                            [selected]="o.index == getSelectedValue('airline')"
                                                            value="o.index"
                                                        >
                                                            {{o.realString}}
                                                            </option>
                                                            </select>
                                                            </div>
                                                            <input
                                                                type="button"
                                                                magic="BSave"
                                                                class="BSave"
                                                                [attr.disabled]="isDisabled('BSave')"
                                                                value=Ok
                                                            />
                                                            </div>
                                                            </form>