<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="TravelLogon"
        class="TravelLogon"
        [ngStyle]="{'background-image': 'url(' + getStyle('TravelLogon', 'background') + ')'}"
    >
        <div
            magic="Group"
            class="Group"
        >
            <label
                magic="UsernameL"
                class="UsernameL"
            >
                Username:
                </label>
                <input
                    type="text"
                    formControlName="Username"
                    magic="Username"
                    class="Username"
                />
                <label
                    magic="PasswordL"
                    class="PasswordL"
                >
                    Password:
                    </label>
                    <input
                        type="text"
                        formControlName="Password"
                        magic="Password"
                        class="Password"
                        [attr.required]=""
                        type="password"
                    />
                    </div>
                    <input
                        type="button"
                        magic="OK"
                        class="OK"
                    />
                    <input
                        type="button"
                        magic="Exit"
                        class="Exit"
                    />
                    </div>
                    </form>