<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="EditEntry"
        class="EditEntry"
    >
        <label
            magic="CreateL"
            class="CreateL"
        >
            {{mgGetText('CreateL')}}
            </label>
            <div *ngIf="mgIsImageExists('logo')">
                <img
                    magic="logo"
                    class="logo"
                    [src]="mgGetImage('logo')"
                />
            </div>
            <label
                magic="NameL"
                class="NameL"
            >
                Name
                </label>
                <input
                    type="text"
                    formControlName="Name"
                    magic="Name"
                    class="Name"
                />
                <div *ngIf="mgIsImageExists('addLogo')">
                    <img
                        magic="addLogo"
                        class="addLogo"
                        [title]="mgGetTitle('addLogo')"
                        [src]="mgGetImage('addLogo')"
                    />
                </div>
                <label
                    magic="CityL"
                    class="CityL"
                >
                    City
                    </label>
                    <input
                        type="text"
                        formControlName="City_0001"
                        magic="City_0001"
                        class="City_0001"
                    />
                    <div *ngIf="mgIsImageExists('MapImg')">
                        <img
                            magic="MapImg"
                            class="MapImg"
                            [src]="mgGetImage('MapImg')"
                        />
                    </div>
                    <label
                        magic="AddressL"
                        class="AddressL"
                    >
                        Address
                        </label>
                        <input
                            type="text"
                            formControlName="AddressEdit"
                            magic="AddressEdit"
                            class="AddressEdit"
                        />
                        <div *ngIf="mgIsImageExists('addMap')">
                            <img
                                magic="addMap"
                                class="addMap"
                                [title]="mgGetTitle('addMap')"
                                [src]="mgGetImage('addMap')"
                            />
                        </div>
                        <div *ngIf="mgIsImageExists('pic1')">
                            <img
                                magic="pic1"
                                class="pic1"
                                [src]="mgGetImage('pic1')"
                            />
                        </div>
                        <div *ngIf="mgIsImageExists('pic2')">
                            <img
                                magic="pic2"
                                class="pic2"
                                [src]="mgGetImage('pic2')"
                            />
                        </div>
                        <div *ngIf="mgIsImageExists('pic3')">
                            <img
                                magic="pic3"
                                class="pic3"
                                [src]="mgGetImage('pic3')"
                            />
                        </div>
                        <div *ngIf="mgIsImageExists('pic4')">
                            <img
                                magic="pic4"
                                class="pic4"
                                [src]="mgGetImage('pic4')"
                            />
                        </div>
                        <label
                            magic="AttachImgL"
                            class="AttachImgL"
                        >
                            Attach Images by Clicking Pin icons ..
                            </label>
                            <ndc-dynamic
                                magic="imgSubform"
                                class="imgSubform"
                                [ndcDynamicComponent]="mgGetComp('imgSubform')"
                                [ndcDynamicInputs]="mgGetParameters('imgSubform')"
                            >
                                </ndc-dynamic>
                                <input
                                    type="button"
                                    magic="BSave"
                                    class="BSave"
                                    [attr.disabled]="mgIsDisabled('BSave')"
                                    value=Ok
                                />
                                </div>
                                </form>
