<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    class="magic-container"
    magic="Rest"
    class="Rest"
  >
    <div *ngIf="mgIsImageExists('AddFlightImg')">
      <img
        magic="AddFlightImg"
        class="AddFlightImg"
        [src]="mgGetImage('AddFlightImg')"
      />
    </div>
    <label
      magic="SelectFlightL"
      class="SelectFlightL"
    >
      Restaurant Details
    </label>
    <div *ngIf="mgIsImageExists('classImg')">
      <img
        magic="classImg"
        class="classImg"
        [style.visibility]="mgGetVisible('classImg')"
        [src]="mgGetImage('classImg')"
      />
    </div>
    <input
      type="text"
      formControlName="serviceAddress"
      magic="serviceAddress"
      class="serviceAddress"
    />
    <label
      magic="ReservationL"
      class="ReservationL"
    >
      Reservation:
    </label>
    <input
      type="text"
      formControlName="ReservationL"
      magic="RestoFromTime"
      class="RestoFromTime"
    />
    <input
      type="text"
      formControlName="fromdateEdit"
      magic="fromdateEdit"
      class="fromdateEdit"
    />
    <select
      (change)="mgOnSelectionChanged($event,'fromairportCmb')"
      value="mgGetSelectedValue('fromairportCmb')"
      magic="fromairportCmb"
      class="fromairportCmb"
    >
      <option
        *ngFor="let o of mgGetListboxValues('fromairportCmb');"
        [selected]="o.index == mgGetSelectedValue('fromairportCmb')"
        value="o.index"
      >
        {{o.realString}}
      </option>
    </select>
    <ndc-dynamic
      magic="RestoImgSubform"
      class="RestoImgSubform"
      [ndcDynamicComponent]="mgGetComp('RestoImgSubform')"
      [ndcDynamicInputs]="mgGetParameters('RestoImgSubform')"
    >
    </ndc-dynamic>
    <input
      type="button"
      magic="BSave"
      class="BSave"
      [attr.disabled]="mgIsDisabled('BSave')"
      value=Ok
    />
  </div>
</form>
