<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="RicClientresourcesServe"
        class="RicClientresourcesServe"
    >
        <div *ngIf="mgIsImageExists('tmpID11')">
            <img
                magic="tmpID11"
                class="tmpID11"
                [src]="mgGetImage('tmpID11')"
            />
        </div>
        <ul style="list-style: none;padding: 0">
            <li *ngFor="let row of task.Records.list">
                <div
                    *ngIf="mgIfRowCreated(row.rowId)"
                    id="row"
                >
                    <form [formGroup]="mgGetFormGroupByRow(row.rowId)">
                        <input
                            type="text"
                            formControlName="ID"
                            magic="ID"
                            class="ID"
                            [rowId]="row.rowId"
                        />
                        <input
                            type="text"
                            formControlName="Folder"
                            magic="Folder"
                            class="Folder"
                            [rowId]="row.rowId"
                        />
                        <input
                            type="text"
                            formControlName="Name"
                            magic="Name"
                            class="Name"
                            [rowId]="row.rowId"
                        />
                        <input
                            type="text"
                            formControlName="Last modified"
                            magic="Last modified"
                            class="Last modified"
                            [rowId]="row.rowId"
                        />
                        <input
                            type="text"
                            formControlName="Deleted"
                            magic="Deleted"
                            class="Deleted"
                            [rowId]="row.rowId"
                        />
                    </form>
                    </div>
            </li>
        </ul>
        </div>
        </form>
