<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="Hotellist3"
        class="Hotellist3"
    >
        <ul style="list-style: none;padding: 0">
            <li *ngFor="let row of task.Records.list">
                <div
                    *ngIf="mgIfRowCreated(row.rowId)"
                    id="row"
                >
                    <form [formGroup]="mgGetFormGroupByRow(row.rowId)">
                        <label
                            magic="RDescription"
                            class="RDescription"
                            [rowId]="row.rowId"
                        >
                            {{mgGetValue('RDescription', row.rowId)}}
                            </label>
                            <label
                                magic="City"
                                class="City"
                                [rowId]="row.rowId"
                            >
                                {{mgGetValue('City', row.rowId)}}
                                </label>
                                <label
                                    magic="Country"
                                    class="Country"
                                    [rowId]="row.rowId"
                                >
                                    {{mgGetValue('Country', row.rowId)}}
                                    </label>
                                    <label
                                        magic="AddressEdit"
                                        class="AddressEdit"
                                        [rowId]="row.rowId"
                                    >
                                        {{mgGetValue('AddressEdit', row.rowId)}}
                                        </label>
                    </form>
                    </div>
            </li>
        </ul>
        <input
            type="button"
            magic="BAdd"
            class="BAdd"
            [style.visibility]="mgGetVisible('BAdd')"
            value=Add
        />
        <input
            type="button"
            magic="BEdit"
            class="BEdit"
            [style.visibility]="mgGetVisible('BEdit')"
            value=Edit
        />
        <input
            type="button"
            magic="BDelete"
            class="BDelete"
            [style.visibility]="mgGetVisible('BDelete')"
            value=Delete
        />
        </div>
        </form>
