<div class="main-card edit-card" magic="EditTravelRequestEntries">

  <form novalidate [formGroup]="screenFormGroup">

    <div
      class="main-card-photo-header BckPckImg"
      magic="BckPckImg"
      [ngStyle]="{'background-image': 'url(' + getImage('BckPckImg') + ')'}"
    >
      <div class="picture-title-line">
        <label
          magic="DescriptionScreen"
          class="DescriptionScreen mgFont20 mgColor30 main-card-label"
        >
          {{getValue('DescriptionScreen')}}
        </label>
        <div class="menu-wrapper">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">


            <button magic="BDelete" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>
          <a
            href="#"
            magic="BDelete"
            class="BDelete"
          >
            Delete
            <!--{{getValue('BDelete', row.rowId)}}-->
          </a>
      </span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="flight-dates">
        <label
          magic="DepartureDateScreen"
          class="DepartureDateScreen"
          class="mgFont21 mgColor30"
        >
          {{getValue('DepartureDateScreen')}}
        </label> -
        <label
          magic="ArrivalDateScreen"
          class="ArrivalDateScreen"
          class="mgFont21 mgColor30"
        >
          {{getValue('ArrivalDateScreen')}}

        </label>

      </div>

    </div>

    <div class="btn-line">
      <div *ngIf="isImageExists('AddFlightImg')">
        <img
          magic="AddFlightImg"
          class="AddFlightImg"
          class="mgColor14"
          [src]="getImage('AddFlightImg')"
        />
      </div>
      <div *ngIf="isImageExists('AddHotelImg')">
        <img
          magic="AddHotelImg"
          class="AddHotelImg"
          class="mgColor14"
          [src]="getImage('AddHotelImg')"
        />
      </div>
      <div *ngIf="isImageExists('AddCarImg')">
        <img
          magic="AddCarImg"
          class="AddCarImg"
          class="mgColor14"
          [src]="getImage('AddCarImg')"
        />
      </div>
      <div *ngIf="isImageExists('AddRestoImg')">
        <img
          magic="AddRestoImg"
          class="AddRestoImg"
          class="mgColor14"
          [src]="getImage('AddRestoImg')"
        />
      </div>
    </div>


  </form>
  <div class="bottom-pane">
    <div
      class="list-pane"
    >
      <div
        *ngFor="let row of task.Records.list"
        class="list-item"
      >
        <div
          *ngIf="ifRowCreated(row.rowId)"
        >

          <form [formGroup]="getFormGroupByRow(row.rowId)" [ngClass]="getTableRowClass(row.rowId)">
            <div *ngIf="isImageExists('flight')" class="flight-icon">
              <img
                magic="flight"
                class="flight"
                [rowId]="row.rowId"
                [src]="getImage('flight', row.rowId)"
              />
            </div>
            <div class="list-labels-wrapper">
              <label
                magic="RDescription"
                class="RDescription"
                [rowId]="row.rowId"
              >
                {{getValue('RDescription', row.rowId)}}
              </label>

              <label
                magic="bottomlabel"

                class="bottomlabel"
                [rowId]="row.rowId"
              >
                {{gettext('bottomlabel', row.rowId)}}
              </label>
            </div>
            <div *ngIf="isImageExists('flightLogo')" class="airline-list-logo">
              <img
                magic="flightLogo"
                class="flightLogo"
                [rowId]="row.rowId"
                [title]="getTitle('flightLogo', row.rowId)"
                [src]="getImage('flightLogo', row.rowId)"
              />
            </div>


            <div class="menu-wrapper list-menu">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="list-menu">

                <button magic="BEdit" [rowId]="row.rowId" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>
            <a
              href="#"
              magic="BEdit"
              class="BEdit"
              [rowId]="row.rowId"
              [attr.disabled]="isDisabled('BEdit', row.rowId)"
            >
              {{getValue('BEdit', row.rowId)}}
            </a>
                  </span>
                </button>

                <button magic="BDelete" [rowId]="row.rowId" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>
            <a
              href="#"
              magic="BDelete"
              class="BDelete"
              [rowId]="row.rowId"
            >
              {{getValue('BDelete', row.rowId)}}
            </a>

                  </span>
                </button>
              </mat-menu>
            </div>


          </form>
        </div>
      </div>


    </div>
    <div class="info-pane">
<!-- todo:restore for magic
      <ndc-dynamic
        magic="SubformDetails"
        class="SubformDetails"
        [ndcDynamicComponent]="getComp('SubformDetails')"
        [ndcDynamicInputs]="getParameters('SubformDetails')"
      >
      </ndc-dynamic>
-->

      <!--<mga-Hotel></mga-Hotel>-->
      <mga-Flight1></mga-Flight1>
    </div>
  </div>
</div>
