<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="EditTravelRequestEntries"
        class="EditTravelRequestEntries"
    >
        <div *ngIf="isImageExists('BckPckImg')">
            <img
                magic="BckPckImg"
                class="BckPckImg"
                [title]="getTitle('BckPckImg')"
                [src]="getImage('BckPckImg')"
            />
        </div>
        <label
            magic="DescriptionScreen"
            class="DescriptionScreen"
            class="mgFont20 mgColor30"
        >
            {{getValue('DescriptionScreen')}}
            </label>
            <label
                magic="DepartureDateScreen"
                class="DepartureDateScreen"
                class="mgFont21 mgColor30"
            >
                {{getValue('DepartureDateScreen')}}
                </label>
                <label
                    magic="ArrivalDateScreen"
                    class="ArrivalDateScreen"
                    class="mgFont21 mgColor30"
                >
                    {{getValue('ArrivalDateScreen')}}
                    </label>
                    <div *ngIf="isImageExists('AddFlightImg')">
                        <img
                            magic="AddFlightImg"
                            class="AddFlightImg"
                            class="mgColor14"
                            [src]="getImage('AddFlightImg')"
                        />
                    </div>
                    <div *ngIf="isImageExists('AddHotelImg')">
                        <img
                            magic="AddHotelImg"
                            class="AddHotelImg"
                            class="mgColor14"
                            [src]="getImage('AddHotelImg')"
                        />
                    </div>
                    <div *ngIf="isImageExists('AddCarImg')">
                        <img
                            magic="AddCarImg"
                            class="AddCarImg"
                            class="mgColor14"
                            [src]="getImage('AddCarImg')"
                        />
                    </div>
                    <div *ngIf="isImageExists('AddRestoImg')">
                        <img
                            magic="AddRestoImg"
                            class="AddRestoImg"
                            class="mgColor14"
                            [src]="getImage('AddRestoImg')"
                        />
                    </div>
                    <div
                        magic="tmpID33"
                        class="tmpID33"
                    >
                        <div
                            magic="tmpID34"
                            class="tmpID34"
                        >
                            </div>
                            <ul style="list-style: none;padding: 0">
                                <li *ngFor="let row of task.Records.list">
                                    <div
                                        *ngIf="ifRowCreated(row.rowId)"
                                        id="row"
                                    >
                                        <form [formGroup]="getFormGroupByRow(row.rowId)">
                                            <div *ngIf="isImageExists('flight')">
                                                <img
                                                    magic="flight"
                                                    class="flight"
                                                    [rowId]="row.rowId"
                                                    [src]="getImage('flight', row.rowId)"
                                                />
                                            </div>
                                            <label
                                                magic="RDescription"
                                                class="RDescription"
                                                [rowId]="row.rowId"
                                            >
                                                {{getValue('RDescription', row.rowId)}}
                                                </label>
                                                <div *ngIf="isImageExists('flightLogo')">
                                                    <img
                                                        magic="flightLogo"
                                                        class="flightLogo"
                                                        [rowId]="row.rowId"
                                                        [title]="getTitle('flightLogo', row.rowId)"
                                                        [src]="getImage('flightLogo', row.rowId)"
                                                    />
                                                </div>
                                                <label
                                                    magic="bottomlabel"
                                                    class="bottomlabel"
                                                    [rowId]="row.rowId"
                                                >
                                                    {{gettext('bottomlabel', row.rowId)}}
                                                    </label>
                                                    <a
                                                        href="#"
                                                        magic="BEdit"
                                                        class="BEdit"
                                                        [rowId]="row.rowId"
                                                        [attr.disabled]="isDisabled('BEdit', row.rowId)"
                                                    >
                                                        {{getValue('BEdit', row.rowId)}}
                                                        </a>
                                                        <a
                                                            href="#"
                                                            magic="BDelete"
                                                            class="BDelete"
                                                            [rowId]="row.rowId"
                                                        >
                                                            {{getValue('BDelete', row.rowId)}}
                                                            </a>
                                        </form>
                                        </div>
                                </li>
                            </ul>
                            <ndc-dynamic
                                magic="SubformDetails"
                                class="SubformDetails"
                                [ndcDynamicComponent]="getComp('SubformDetails')"
                                [ndcDynamicInputs]="getParameters('SubformDetails')"
                            >
                                </ndc-dynamic>
                                </div>
                                <input
                                    type="button"
                                    magic="BBack"
                                    class="BBack"
                                    value=&lt;&lt;
                                    Back
                                />
                                <input
                                    type="button"
                                    magic="BAddFlight"
                                    class="BAddFlight"
                                    value=Add
                                    Flight
                                />
                                <input
                                    type="button"
                                    magic="BAddRestaurant"
                                    class="BAddRestaurant"
                                    value=Add
                                    Restaurant
                                />
                                <input
                                    type="button"
                                    magic="BAddHotel"
                                    class="BAddHotel"
                                    value=Add
                                    Hotel
                                />
                                <input
                                    type="button"
                                    magic="BAddCar"
                                    class="BAddCar"
                                    value=Add
                                    Car
                                    Rental
                                />
                                </div>
                                </form>