<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="ViewProfile"
        class="ViewProfile"
    >
        <div *ngIf="mgIsImageExists('profilePicture')">
            <img
                magic="profilePicture"
                class="profilePicture"
                [src]="mgGetImage('profilePicture')"
            />
        </div>
        <label
            magic="Username"
            class="Username"
        >
            {{mgGetValue('Username')}}
            </label>
            <input
                type="text"
                formControlName="FirstName"
                magic="FirstName"
                class="FirstName"
            />
            <input
                type="text"
                formControlName="LastNameEdit"
                magic="LastNameEdit"
                class="LastNameEdit"
            />
            <div
                magic="Grp1"
                class="Grp1"
            >
                <input
                    type="checkbox"
                    formControlName="Administrator"
                    value=""
                    magic="Administrator"
                    class="Administrator"
                />
                <input
                    type="checkbox"
                    formControlName="Coordinator"
                    value=""
                    magic="Coordinator"
                    class="Coordinator"
                />
                </div>
                <div
                    magic="Grp2"
                    class="Grp2"
                >
                    <label
                        magic="PasswordL"
                        class="PasswordL"
                    >
                        Password:
                        </label>
                        <input
                            type="text"
                            formControlName="PasswordEdit"
                            magic="PasswordEdit"
                            class="PasswordEdit"
                            [attr.required]=""
                            type="password"
                        />
                        <input
                            type="checkbox"
                            formControlName="showPassword"
                            value=""
                            magic="showPassword"
                            class="showPassword"
                        />
                        </div>
                        <input
                            type="button"
                            magic="BSave"
                            class="BSave"
                            value=Save
                        />
                        </div>
                        </form>
