<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="HotelList2"
        class="HotelList2"
    >
        <label
            magic="LBlankLabel"
            class="LBlankLabel"
        >
            </label>
            <input
                type="text"
                formControlName="LDays"
                magic="LDays"
                class="LDays"
            />
            <ul style="list-style: none;padding: 0">
                <li *ngFor="let row of task.Records.list">
                    <div
                        *ngIf="mgIfRowCreated(row.rowId)"
                        id="row"
                    >
                        <form [formGroup]="mgGetFormGroupByRow(row.rowId)">
                            <div *ngIf="mgIsImageExists('flightLogo')">
                                <img
                                    magic="flightLogo"
                                    class="flightLogo"
                                    [rowId]="row.rowId"
                                    [title]="mgGetTitle('flightLogo', row.rowId)"
                                    [src]="mgGetImage('flightLogo', row.rowId)"
                                />
                            </div>
                            <label
                                magic="City"
                                class="City"
                                [rowId]="row.rowId"
                            >
                                {{mgGetValue('City', row.rowId)}}
                                </label>
                                <div *ngIf="mgIsImageExists('flight')">
                                    <img
                                        magic="flight"
                                        class="flight"
                                        [rowId]="row.rowId"
                                        [src]="mgGetImage('flight', row.rowId)"
                                    />
                                </div>
                                <label
                                    magic="RDescription"
                                    class="RDescription"
                                    [rowId]="row.rowId"
                                >
                                    {{mgGetValue('RDescription', row.rowId)}}
                                    </label>
                                    <label
                                        magic="AddressEdit"
                                        class="AddressEdit"
                                        [rowId]="row.rowId"
                                    >
                                        {{mgGetValue('AddressEdit', row.rowId)}}
                                        </label>
                                        <div *ngIf="mgIsImageExists('EditImg')">
                                            <img
                                                magic="EditImg"
                                                class="EditImg"
                                                [rowId]="row.rowId"
                                                [src]="mgGetImage('EditImg', row.rowId)"
                                            />
                                        </div>
                                        <div *ngIf="mgIsImageExists('DeleteImg')">
                                            <img
                                                magic="DeleteImg"
                                                class="DeleteImg"
                                                [rowId]="row.rowId"
                                                [src]="mgGetImage('DeleteImg', row.rowId)"
                                            />
                                        </div>
                        </form>
                        </div>
                </li>
            </ul>
            <a
                href="#"
                magic="BAdd"
                class="BAdd"
            >
                {{mgGetValue('BAdd')}}
                </a>
                <a
                    href="#"
                    magic="BEdit"
                    class="BEdit"
                >
                    {{mgGetValue('BEdit')}}
                    </a>
                    <a
                        href="#"
                        magic="BDelete"
                        class="BDelete"
                    >
                        {{mgGetValue('BDelete')}}
                        </a>
                        </div>
                        </form>
