<form
  novalidate
  [formGroup]="screenFormGroup"
  class="Flight1 magic-container"
  magic="Flight1"
>

  <div class="top-details-title">

    <div class="hotel-title">
      <img
        *ngIf="isImageExists('AddFlightImg')"
        magic="AddFlightImg"
        class="AddFlightImg"
        [src]="getImage('AddFlightImg')"
      />

      <label
        magic="SelectFlightL"
        class="SelectFlightL"
      >
        Flight Details
      </label>
    </div>
    <mat-form-field
      class="flightnumberEdit">
      <input
        readonly
        matInput
        placeholder="Flight #"
        formControlName="flightnumberEdit"
        magic="flightnumberEdit"
      >
    </mat-form-field>

  </div>
  <div class="middle-details-section">











    <div
      class="details-address-title">
      [airline] flight [flight no.]: [origin] to [destination]
    </div>


    <div class="checkin-row">
      <div class="checkin-details">
        <div class="data-with-label">
          <label
            magic="OriginL"
            class="OriginL"
          >
            Origin:

          </label>

            <mat-form-field
              class="airportNameFrom">
              <input
                readonly
                matInput
                placeholder="From airport"
                formControlName="airportNameFrom"
                magic="airportNameFrom"
              >
            </mat-form-field>

        </div>

        <div class="data-with-label">

          <label
            magic="DestinationL"
            class="DestinationL"
          >
            Destination:
          </label>



          <mat-form-field
            class="airportNameTo">
            <input
              readonly
              matInput
              placeholder="To airport"
              formControlName="airportNameTo"
              magic="airportNameTo"
            >
          </mat-form-field>

        </div>


      </div>
      <div class="checkin-row">
        <div class="checkin-details">

          <div class="data-with-label">

            <label
              magic="DepartureL"
              class="DepartureL"
            >
              Departure:
            </label>

            <mat-form-field>
              <input
                matInput
                disabled
                [matDatepicker]="todateTimeEdit"
                placeholder="Departure Date"
                formControlName="todateTimeEdit"
                magic="todateTimeEdit"
                class="todateTimeEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="todateTimeEdit"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #todateTimeEdit></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="data-with-label">
            <label
              magic="ArrivalL"
              class="ArrivalL"
            >
              Arrival:
            </label>




            <mat-form-field>
              <input
                matInput
                disabled
                [matDatepicker]="fromdateTimeEdit"
                placeholder="Arrival Date"
                formControlName="fromdateTimeEdit"
                magic="fromdateTimeEdit"
                class="fromdateTimeEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="fromdateTimeEdit"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #fromdateTimeEdit></mat-datepicker>
            </mat-form-field>


          </div>
        </div>

      </div>

      <div class="hotel-map-wrapper">
        <div
          class="map-image airport-image"
          [ngStyle]="{
                'background-image':'url('+ getImage('classImg') + ')'}"
        >

        </div>



        <mat-form-field
        >
          <mat-select
            class="airline"
            magic="airline"
            placeholder="Select airline"
            [value]="getSelectedValue('airline')"

          >
            <mat-option
              *ngFor="let o of getListboxValues('airline');"
              [value]="o.index"
            >
              {{o.realString}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
    </div>
    <div class="imgSubForm-section">
      <mga-LargeImage></mga-LargeImage>

<!-- todo:restore for magic-run
      <ndc-dynamic
        magic="SearchSubform"
        class="SearchSubform"
        [style.visibility]="getVisible('SearchSubform')"
        [ndcDynamicComponent]="getComp('SearchSubform')"
        [ndcDynamicInputs]="getParameters('SearchSubform')"
      >
      </ndc-dynamic>
-->



    </div>
    <div class="details-button-section">
      <button
        magic="BSave"
        class="BSave"
        [attr.disabled]="isDisabled('BSave')"
        mat-button color="primary"
      >
        Save
      </button>

    </div>
  </div>


</form>


<!--



  <ndc-dynamic
    magic="imgSubform"
    class="imgSubform"
    [ndcDynamicComponent]="getComp('imgSubform')"
    [ndcDynamicInputs]="getParameters('imgSubform')"
  >
  </ndc-dynamic>
  <input
    type="button"
    magic="BSave"
    class="BSave"
    [attr.disabled]="isDisabled('BSave')"
    value=Ok
  />


-->

<!--

<mat-form-field>
  <mat-select [placeholder]="'currentPlaceholder'">
    <mat-option [value]="1">1</mat-option>
    <mat-option [value]="2">2</mat-option>
  </mat-select>
</mat-form-field>
-->
