<form
  novalidate
  [formGroup]="screenFormGroup"
>

  <button (click)="createData()">CreateData</button>
  <div
    style="flex-direction: column; color:blue"
    magic="YourTravelRequests"
  >
    <ul style="list-style: none;padding: 0">
      <li *ngFor="let row of task.Records.list">
        <div *ngIf="ifRowCreated(row.rowId)" style="flex-direction: column" id="row">
          <form [formGroup]="getFormGroupByRow(row.rowId)">

            <div *ngIf="isImageExists('backgroundImage')">
              <img
                magic="backgroundImage"
                [rowId]="row.rowId"
                [src]="getImage('backgroundImage', row.rowId)"
              />
            </div>
            <label
              magic="DescriptionText"
              [rowId]="row.rowId"
            >
              {{gettext('DescriptionText', row.rowId)}}
            </label>
            <div style="flex-direction: column;  padding-left: 15px;">
              <div style="flex-direction: row;  ">
                <div *ngIf="isImageExists('takeoff')">
                  <img
                    magic="takeoff"
                    [rowId]="row.rowId"
                    [src]="getImage('takeoff', row.rowId)"
                  />
                </div>
                <label
                  magic="DepartureDate"
                  [rowId]="row.rowId"
                >
                  {{getValue('DepartureDate', row.rowId)}}
                </label>
                <div *ngIf="isImageExists('Ellipse')">
                  <img
                    magic="Ellipse"
                    [rowId]="row.rowId"
                    [src]="getImage('Ellipse', row.rowId)"
                  />
                </div>
                <label
                  magic="ArrivalDate"
                  [rowId]="row.rowId"
                >
                  {{getValue('ArrivalDate', row.rowId)}}
                </label>
                <div *ngIf="isImageExists('land')">
                  <img
                    magic="land"
                    [rowId]="row.rowId"
                    [src]="getImage('land', row.rowId)"
                  />
                </div>
              </div>
              <br>
              <div style="flex-direction: row;  ">
                <div *ngIf="isImageExists('FlightImg')">
                  <img
                    magic="FlightImg"
                    [rowId]="row.rowId"
                    [style.visibility]="getVisible('FlightImg', row.rowId)"
                    [src]="getImage('FlightImg', row.rowId)"
                  />
                </div>
                <div *ngIf="isImageExists('HotelImg')">
                  <img
                    magic="HotelImg"
                    [rowId]="row.rowId"
                    [style.visibility]="getVisible('HotelImg', row.rowId)"
                    [src]="getImage('HotelImg', row.rowId)"
                  />
                </div>
                <div *ngIf="isImageExists('CarImg')">
                  <img
                    magic="CarImg"
                    [rowId]="row.rowId"
                    [style.visibility]="getVisible('CarImg', row.rowId)"
                    [src]="getImage('CarImg', row.rowId)"
                  />
                </div>
                <div *ngIf="isImageExists('RestoImg')">
                  <img
                    magic="RestoImg"
                    [rowId]="row.rowId"
                    [style.visibility]="getVisible('RestoImg', row.rowId)"
                    [src]="getImage('RestoImg', row.rowId)"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <input
      type="button"
      magic="BAdd"
    />
    <input
      type="button"
      magic="BEditDetails"
    />
    <a
      href="#"
      magic="BEdit"
    >
      {{getValue('BEdit')}}
    </a>
    <a
      href="#"
      magic="BDelete"
    >
      {{getValue('BDelete')}}
    </a>
  </div>
</form>
