<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="List"
        class="List"
    >
        <label
            magic="tmpID27"
            class="tmpID27"
        >
            Airport:
            </label>
            <input
                type="text"
                formControlName="Airport"
                magic="Airport"
                class="Airport"
            />
            <input
                type="text"
                formControlName="rng"
                magic="rng"
                class="rng"
            />
            <select
                multiple
                (change)="mgOnSelectionChanged($event,'VAirport')"
                value="mgGetSelectedValue('VAirport')"
                magic="VAirport"
                class="VAirport"
            >
                <option
                    *ngFor="let o of mgGetListboxValues('VAirport');"
                    [selected]="o.index == mgGetSelectedValue('VAirport')"
                    value="o.index"
                >
                    {{o.realString}}
                    </option>
                    </select>
                    </div>
                    </form>
