body
{
  margin: 0;
  background: #465786;
  /* border: 3px solid yellow; */
  font-family: 'Roboto', sans-serif;
  height: 100%;
}



.backgroundImage {height: 184px;background-repeat: no-repeat;width: 316px;background-size: cover;/* border: 2px solid yellow; */}

.cards-wrapper {
    /* border: 7px solid yellowgreen; */
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 4% 10% 3% 10%;
    justify-content: left;
    height: 100%;
}

.cards-wrapper > div, .cards-wrapper > mat-card {
    width: 310px;
    /* border: 5px solid red; */
    height: 328px;
    display: inline-flex;
    margin: 3%;
}

mat-card.mat-card, mat-card.add-card {
    padding: 0;
    width: 310px;
    height: 328px;
    overflow: hidden;
    /* margin-right: 50px; */
    min-width: 310px;
}

label.DescriptionText {
    color: white;
    position: absolute;
    /* border: 1px solid greenyellow; */
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}


.details-wrapper {
    /* border: 1px solid red; */
    height: 144px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.flight-details {
    /* border: 2px solid yellowgreen; */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons-area {
    flex: 3;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    padding-left: 20px;
}

label.DepartureDate, label.ArrivalDate {
    color: #8d8d8d;
}

.cards-wrapper form {}

.menu-wrapper {
    position: absolute;
    right: 6px;
    top: 3px;
    color: white;
}

.mat-menu-item a {
    text-decoration: none;
    color: gray;
    position: relative;
    top: 2px;
}

mat-card.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button.BAdd {
    /* flex: 1; */
    background-color: #037ab2 !important;
}

.add-card > span {
    display: block !important;
    color: #a3a3a6;
    margin-top: 20px;
    font-size: 22px;
}

.YourTravel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 900px;
}

label.TravelForLabel {
    color: white;
    height: 120px;
    display: flex;
    align-items: flex-end;
}

html {
    height: 100%;
    /* border: 4px solid yellow; */
}

mga-yourtravel > form {
    height: 100%;
}

.YourTravel {}

.menugroup {
    /* border: 4px solid white; */
    width: 100%;
    display: flex;
    /* background: white; */
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 10px 0px rgba(6, 20, 40, 0.91);
    /* width: 1920px; */
    height: 120px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    MIN-WIDTH: 1020px;
}

.main-content {
    /* border: 4px solid fuchsia; */
    flex: 1;
    width: 80%;
    display: flex;
    padding: 1%;
    /* MARGIN-TOP: 70px; */
    display: flex;
    flex-direction: column;
}

.main-menu {
    width: 100%;
    background-color: transparent;
}

.main-menu > .menugroup > a {
    font-family: Roboto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 75.368px;/* Approximation due to font substitution */
    text-align: center;
    text-decoration: none;
}

.main-menu .menugroup > * {
    margin-right: 80px;
}

.main-label {
    font-family: Roboto;
    color:  rgba(255, 255, 255, 0.85);
    font-size: 20px;/* Approximation due to font substitution */
    font-weight: 500;
    line-height: 75.368px;/* Approximation due to font substitution */
    text-align: center;
    /* flex-direction: column; */
    display: flex;
}

.main-card {
    background-color: white;
    flex: 1;
    border-radius: 3px;
    /* box-shadow: 1px -2px 30px #5b5b5b; */
    box-shadow: 1px 1px 22.32px 1.68px rgba(6, 20, 40, 0.22);
    max-height: 721px;
    height: 721px;
}