<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="AirportList3"
        class="AirportList3"
    >
        <label
            magic="LBlankLabel"
            class="LBlankLabel"
        >
            </label>
            <input
                type="text"
                formControlName="LPairportlist"
                magic="LPairportlist"
                class="LPairportlist"
            />
            <input
                type="text"
                formControlName="LPSearch"
                magic="LPSearch"
                class="LPSearch"
            />
            <input
                type="text"
                formControlName="Search"
                magic="Search"
                class="Search"
            />
            <ndc-dynamic
                magic="AirportList"
                class="AirportList"
                [ndcDynamicComponent]="getComp('AirportList')"
                [ndcDynamicInputs]="getParameters('AirportList')"
            >
                </ndc-dynamic>
                </div>
                </form>