<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="Request"
        class="Request"
    >
        <div *ngIf="isImageExists('BckImg')">
            <img
                magic="BckImg"
                class="BckImg"
                [src]="getImage('BckImg')"
            />
        </div>
        <div *ngIf="isImageExists('image1')">
            <img
                magic="image1"
                class="image1"
                [src]="getImage('image1')"
            />
        </div>
        <div
            magic="Grp1"
            class="Grp1"
        >
            <label
                magic="DepartureDateL"
                class="DepartureDateL"
            >
                Departure Date:
                </label>
                <input
                    type="text"
                    formControlName="DescriptionEdit"
                    magic="DescriptionEdit"
                    class="DescriptionEdit"
                />
                <label
                    magic="DepartureDateL"
                    class="DepartureDateL"
                >
                    Departure Date:
                    </label>
                    <input
                        type="text"
                        formControlName="fromdateEdit"
                        magic="fromdateEdit"
                        class="fromdateEdit"
                    />
                    <label
                        magic="ArrivalDateL"
                        class="ArrivalDateL"
                    >
                        Arrival Date:
                        </label>
                        <input
                            type="text"
                            formControlName="todateEdit"
                            magic="todateEdit"
                            class="todateEdit"
                        />
                        </div>
                        <input
                            type="button"
                            magic="BSave"
                            class="BSave"
                            value=Save
                        />
                        <input
                            type="button"
                            magic="BSaveAddEntries"
                            class="BSaveAddEntries"
                            value=Add
                            Entries
                        />
                        </div>
                        </form>